*__pycache__*
*egg-info*
*wandb*
diffusion_models/
diffusion_models/*
generation_outputs/
generation_outputs/*
*.log
*.pth
/diffuseq_qqp_h128_lr0.0001_t2000_sqrt_lossaware_seed102_test_ori20221113-20:27:29/
